.blog-post-item-container {
  padding: 0;
  margin-top: 2rem;
  border: 2px solid black;
  box-shadow: 2px 2px grey;
  overflow: hidden;
}

.blog-post-item-date {
  float: right;
}

.blog-post-item-link {
  padding: 2rem;
}

@media only screen and (max-width: 44rem) {
  .blog-post-item-date {
    display: none;
  }
}
