#contact {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
}
#contact img {
  width: 8rem;
  align-self: center;
}

#contact h2 {
  margin: 0;
}

#contact div {
  display: flex;
  padding: 0 2rem;
  margin: 2.2rem 0 1.8rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact div div {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.icon {
  display: flex;
  align-content: center;
  padding: 0.5rem;
  border-radius: 5%;

  font-size: 2.5rem;
  text-decoration: none;
  color: black;

  transition: background-color 500ms;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
