:root {
  font-size: 20px;
  line-height: 1.8rem;
  font-family: 'Lato', sans-serif;
  font-display: auto;
  color: #333;
  --gold: #ffc60a;
}

@media only screen and (max-width: 44rem) {
  :root {
    font-size: 18px;
  }
}

html {
  /* Ask Andrew if this is scroll-jacking */
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

section {
  max-width: 40rem;
  margin: auto;
  padding: 3rem 2rem 0 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}

article {
  max-width: 30rem;
  margin: auto;
  padding: 3rem 2rem 0 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}

article h3 {
  margin: 1rem 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #888888;
  font-size: 1rem;
  text-decoration: none;
  transition: color 500ms;
}

a:hover {
  color: #000;
}

pre {
  border-radius: 8px;
  background-color: #333;
  padding: 0.5rem 1.5rem;
}
code {
  color: azure;
}

blockquote {
  padding: 0rem 1.5rem;
  border-left: 3px solid black;
}

.tab {
  padding-left: 1.5rem;
}
