:root {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #333;
}

@media only screen and (max-width: 44rem) {
  :root {
    font-size: 18px;
  }
}

html {
  /* Ask Andrew if this is scroll-jacking */
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

section {
  max-width: 40rem;
  margin: auto;
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}

article {
  max-width: 30rem;
  margin: auto;
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}

article h3 {
  margin: 1rem 0;
}

.summary {
  margin: 1rem 0 0 0;
}

p {
  line-height: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

span {
  line-height: 1.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #888888;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;

  transition: color 500ms;
}

a:hover {
  color: #000;
}

.tab {
  padding-left: 1.5rem;
}
