header {
  position: fixed;
  display: flex;
  width: calc(100% - 1rem);
  padding: 0.5rem;

  z-index: 999;
  background-color: rgba(255, 255, 255, 0.93);
  border-bottom: 1px solid gainsboro;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

header nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header nav ul li {
  padding: 0.5rem;
}

@media only screen and (max-width: 44rem) 
{
  #logo {
    display: none;
  }
  header nav ul li a{
    font-size: 0.75rem;
  }
}
