@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import 'resets';
@import 'general';
@import 'headers';

@import 'helpers/breakpoints';

.mobile {
  display: none;
  @include max-width-breakpoint('mobile-large') {
    display: inherit;
  }
}

.not-mobile {
  display: inherit;
  @include max-width-breakpoint('mobile-large') {
    display: none;
  }
}

.tablet {
  display: none;
  @include full-width-breakpoint('mobile-large', 'tablet') {
    display: inherit;
  }
}

.not-tablet {
  display: inherit;
  @include full-width-breakpoint('mobile-large', 'tablet') {
    display: none;
  }
}

.laptop {
  display: none;
  @include full-width-breakpoint('tablet', 'laptop-large') {
    display: inherit;
  }
}

.not-laptop {
  display: inherit;
  @include full-width-breakpoint('tablet', 'laptop-large') {
    display: none;
  }
}

.high-def {
  display: none;
  @include min-width-breakpoint('laptop-large') {
    display: inherit;
  }
}
.not-high-def {
  display: inherit;
  @include min-width-breakpoint('laptop-large') {
    display: none;
  }
}
