footer {
  padding: 1rem;
}

footer nav {
  display: flex;
  align-content: flex-stretch;
}

.icon {
  display: flex;
  align-content: center;
  padding-left: 0.5rem;

  font-size: 2.5rem;
  text-decoration: none;
  color: black;
}

.fa-linkedin {
  color: blue;
}
