header {
  position: fixed;
  display: flex;
  width: calc(100% - 1rem);
  padding: 0 0.5rem;

  z-index: 999;
  background-color: rgba(255, 255, 255, 0.93);
  border-bottom: 1px solid gainsboro;
}

header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

#logo {
  display: flex;
  font-size: 1.25rem;
  padding-left: 1rem;
  color: #8f8f8f;
  text-transform: uppercase;
  text-decoration: none;

  transition: color 500ms;
}

#logo:hover {
  color: #000;
}

header nav ul {
  display: flex;
  padding-left: 1rem;
  flex-flow: wrap;
  list-style: none;
  overflow: hidden;
}

header nav ul li {
  padding: 0rem 0.75rem 0rem 0rem;
}

header nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-decoration: none;

  transition: color 500ms;
}

header nav ul a:hover {
  color: #000;
}
